@import "../../../styles/variables";
@import "../../../styles/themes/dark";

.title {
  font-size: 1.1em;
  font-weight: bold;
}

.code {
  font-family: $font-family-code;
}

.primary {
  color: $color;
}

.secondary {
  color: $color-secondary;
}

.success {
  color: $color-success;
}

.danger {
  color: $color-danger;
}
