@import '../../../styles/variables';
@import '../../../styles/themes/dark';

$padding-horizontal-cell: 5 * $spacing;

.loadingOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cellBase {
  padding-left: $padding-horizontal-cell;
  padding-right: $padding-horizontal-cell;
}

.rowHeader {
  .cell {
    @extend .cellBase;

    $border: 1px solid $border-color;
    border-top: $border;
    border-bottom: $border;

    text-transform: uppercase;
  }
}

.rowData {
  // TODO: Explore this method
  //background-image: url('../../../../resources/orderBook/highlightAsks.png');
  //background-repeat: no-repeat;

  .cell {
    @extend .cellBase;
    border-bottom: none;
  }
}
