@import '../../../styles/variables';
@import '../../../styles/themes/dark';

$padding-vertical: 4px;
$padding-horizontal-cell: 5 * $spacing;

.loadingOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cellBase {
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &:first-of-type {
    padding-left: $padding-horizontal-cell;
  }
  &:last-of-type {
    padding-right: $padding-horizontal-cell;
  }
}

.rowHeader {
  .cell {
    @extend .cellBase;

    $border: 1px solid $border-color;
    border-top: $border;
    border-bottom: $border;

    text-transform: uppercase;
  }
}

.rowData {
  .cell {
    @extend .cellBase;
    border-bottom: none;
  }
}
