@import '../../../styles/themes/dark';

.loadingOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rowHeader {
  .cell {
    $border: 1px solid $border-color;
    border-top: $border;
    border-bottom: $border;

    text-transform: uppercase;
  }
}

.rowData {
  // TODO: Explore this method
  background-image: url('../../../../resources/orderBook/highlightAsks.png');
  background-repeat: no-repeat;

  .cell {
    border-bottom: none;
  }
}
