// TODO: Theme support

$background-color: rgb(20, 23, 35);

$color: rgb(210, 210, 210);
$color-secondary: rgb(120, 130, 140);

$color-success: rgb(18, 163, 90);
$color-danger: rgb(196, 52, 55);

$color-action: rgb(87, 65, 217);

$border-color: rgb(32, 40, 53);

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: $border-color;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-action;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-corner {
    background-color: $border-color;
  }
}
