@import "variables";
@import "themes/dark";
@import "layout";

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

  background-color: $background-color;
}

code {
  font-family: $font-family-code;
}

@include scrollbar();
