@import "../../../../styles/layout";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;

    .title {
      flex-shrink: 0;
    }
  }

  .spreadContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .tableContainer {
    display: flex;
    height: 100%;

    @include mobile {
      flex-direction: column;
    }

    .tableColumn {
      flex: 1;
    }
  }
}
