@import "../../../../styles/variables";
@import "../../../../styles/layout";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    padding: $spacing (2 * $spacing);

    .title {
      flex-shrink: 0;
    }
  }

  .spreadContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    @include mobile {
      padding: $spacing (2 * $spacing);
    }
  }

  .tablesContainer {
    display: flex;
    height: 100%;
    overflow: hidden;

    @include mobile {
      flex-direction: column-reverse;
      justify-content: center;
    }

    @include desktop {
      .tableColumn {
        flex: 1;
      }
    }
  }

  .toggleFeedContainer {
    display: flex;
    justify-content: center;
    padding: 2 * $spacing;
  }
}
