@import "../../../../styles/variables";
@import "../../../../styles/layout";

$spacing-horizontal: 2 * $spacing;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    padding: $spacing $spacing-horizontal;

    .title {
      flex-shrink: 0;
      margin-right: $spacing-horizontal;
    }
  }

  .spreadContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding: $spacing $spacing-horizontal;
    }

    @include desktop {
      width: 100%;
    }
  }

  .tablesContainer {
    display: flex;
    height: 100%;
    overflow: hidden;

    .loadingOverlay {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    @include mobile {
      flex-direction: column-reverse;
      justify-content: center;
    }

    @include desktop {
      .tableColumn {
        flex: 1;
      }
    }
  }

  .toggleFeedContainer {
    display: flex;
    justify-content: center;
    padding: 2 * $spacing;
  }
}
