// Approach with the existing background images is more performant than the programmatically generated `background: linear-gradient`
.rowBase {
  background-repeat: no-repeat;
}

.rowBid {
  @extend .rowBase;
  background-image: url('../../../../../resources/orderBook/highlightBids.png');
}

.rowAsk {
  @extend .rowBase;
  background-image: url('../../../../../resources/orderBook/highlightAsks.png');
}
