// TODO: Explore these methods

.rowBid {
  background-image: url('../../../../resources/orderBook/highlightBids.png');
  background-repeat: no-repeat;
}

.rowAsk {
  background-image: url('../../../../resources/orderBook/highlightAsks.png');
  background-repeat: no-repeat;
}
