@import '../../../../styles/variables';
@import '../../../../styles/layout';

.header {
  display: flex;
  align-items: center;
  min-height: 21px;
  padding: $spacing (2 * $spacing);

  .title {
    position: absolute;
  }

  .spreadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
